* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    background-color: #f0f0f0;
    padding: 20px;
}

/* COLORES  */
:root {
    --color-yellow: #f8e6af;
    --color-teal: #307480;
    --color-red: #cf605a;
    --border-black: 5px solid black;
}


/* CLASES GENERALES  */

.box {
    background-color: var(--color-yellow);
    color: #d43f37;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.teal-bg {
    background-color: var(--color-teal);
    padding: 15px;
    border: var(--border-black);
}

.red-bg {
    background-color: var(--color-red);
    padding: 15px;
    border: var(--border-black);
}

.black-bg {
    background-color: black;
    padding: 15px;
    border: var(--border-black);
}

/* ESTRUCTURA (LAYOUT)  */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* HEADER */
.header-top {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* Logo pequeño, Navbar grande, Registro pequeño */
    gap: 15px;
    margin-bottom: 15px;
}

/* MAIN  */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* La izquierda es el doble de ancha que la derecha */
    gap: 15px;
    min-height: 400px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 columnas iguales */
    gap: 15px;
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*  FOOTER */