* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    padding: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700; 
    font-size: 32px;
}

/* COLORES  */
:root {
    --color-yellow: #f8e6af;
    --color-teal: #307480;
    --color-red: #cf605a;
    --border-black: 5px solid black;
    --gap-size: 15px;
}


/* CLASES GENERALES  */
.box {
 background-color: var(--color-yellow);
    color: var(--color-text);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.teal-bg {
   background-color: var(--color-teal);
    padding: 15px;
    border: var(--border-black);
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}

.red-bg {
background-color: var(--color-red);
    padding: 15px;
    border: var(--border-black);
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}

.black-bg {
background-color: black;
    padding: 15px;
    border: var(--border-black);
    display: flex;
}

/* ESTRUCTURA (LAYOUT)  */
.container {
max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}

/* HEADER */
.header-top {
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* Logo pequeño, Navbar grande, Registro pequeño */
    gap: 15px;
    margin-bottom: 15px;
}

/* MAIN  */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* La izquierda es el doble de ancha que la derecha */
    gap: 15px;
    min-height: 400px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 columnas iguales */
    gap: 15px;
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*  FOOTER */