* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    padding: 20px;
     font-family: 'Barlow', sans-serif;
    font-weight: 700; 
    font-size: 32px;
}

:root {
    --color-yellow: #f6d068;
    --color-teal: #2b7f87;
    --color-red: #de2e2f;
    --border-black: 5px solid black;
}

/* CLASES DE CAJAS Y COLORES */
.box {
    background-color: var(--color-yellow);
    color: #d74531;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.teal-bg {
    background-color: var(--color-teal);
    padding: 15px;
    border: var(--border-black);
}

.red-bg {
    background-color: var(--color-red);
    padding: 15px;
    border: var(--border-black);
}

.black-bg {
    background-color: black;
    padding: 15px;
    border: var(--border-black);
}

/* --- ESTRUCTURA DESKTOP */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Header */
.header-top {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
    margin-bottom: 15px;
}

/* Main (Layout original de 2 columnas) */
main {
    display: grid;
    grid-template-columns: 2fr 1fr; /* 2 partes contenido, 1 parte sidebar */
    gap: 15px;
    min-height: 400px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.articles-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* =========================================
   MEDIA QUERY PARA MOVIL
   (Se activa cuando la pantalla es menor a 576px)
   ========================================= */
@media (max-width: 576px) {
    
    main {

        grid-template-columns: 1fr;
    }

}