* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    padding: 20px;
     font-family: 'Barlow', sans-serif;
    font-weight: 700; 
    font-size: 32px;
}

/* COLORES  */
:root {
    --color-yellow: #f6d068;
    --color-teal: #2b7f87;
    --color-red: #de2e2f;
    --border-black: 5px solid black;
}


/* CLASES GENERALES  */
.box {
    background-color: var(--color-yellow);
    color: #d74531;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.teal-bg {
    background-color: var(--color-teal);
    padding: 15px;
    border: var(--border-black);
}

.red-bg {
    background-color: var(--color-red);
    padding: 15px;
    border: var(--border-black);
}

.black-bg {
    background-color: black;
    padding: 15px;
    border: var(--border-black);
}

/* ESTRUCTURA (LAYOUT)  */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* HEADER */
.header-top {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* Logo pequeño, Navbar grande, Registro pequeño */
    gap: 15px;
    margin-bottom: 15px;
}

/* MAIN  */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* La izquierda es el doble de ancha que la derecha */
    gap: 15px;
    min-height: 400px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 columnas iguales */
    gap: 15px;
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*  FOOTER */

/* =========================================
   MEDIA QUERY PARA MOVIL
   (Se activa cuando la pantalla es menor a 576px)
   ========================================= */
@media (max-width: 576px) {
    /* Ajustes para mobiles */         
    .header-top {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 10px;
    }
    main {
        grid-template-columns: 1fr; 
    }
    .article-grid {
        grid-template-columns: 1fr; 
    }
    .box {
    background-color: var(--color-yellow);
    color: var(--color-teal);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.teal-bg {
    background-color: var(--color-red);
    padding: 15px;
    border: var(--border-black);
}

.red-bg {
    background-color: var(--color-red);
    padding: 15px;
    border: var(--border-black);
}
} 